<header>
    <a id="leftHeader" href="index.html">Bernie Zhong</a>
    <section id="rightHeader">
        <div id="menu" class="hamToggle">
            <span class="bar1"></span>
            <span class="bar2"></span>
        </div>
        <nav class="navbar">
            <a href="/subpages/aboutme.html">AboutMe</a>
            <a href="/subpages/projects.html">Projects</a>
            <a href="/subpages/contact.html">Contact</a>
            <a href="/subpages/sitePlan/sitePlan.html">SitePlan</a>
            <!-- <div id="darkmode" class="dmToggle"></div> -->
            <button id="dmbLarge" class="mode"></button>
        </nav>
        <button id="dmbSmall" class="mode"></button>
    </section>
</header>