/* Resets section */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
h2 {
    margin: 0;
}
button {
    background: transparent;
    border: none;
    color: inherit;
}
/* Resets section end */
body {
    color: #f0f8ff;
    background-color: #101720;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
    display: grid;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    width: 100% auto;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px) brightness(1.2);
    -webkit-backdrop-filter: blur(10px) brightness(1.2); /*解決兼容性問題*/
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    padding: 5px;
}
#leftHeader {
    font-size: 1.5em;
    text-align: left;
}
a {
    color: rgb(200, 208, 215);
    text-decoration: none;
    transition: color 0.5s ease;
}
header a:hover, footer a:hover {
    color: white;
    transition: color 0.5s ease;
}

#intro {
    max-width: 1600px;
}
#mypic {
    width: 100%;
    max-width: 350px;
    border-radius: 2.5%;
}
#intro p {
    padding: 0 30px 0 30px;
}

#hPage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 30px;
    padding: 10px;
    max-width: 450px;
}
.sectionSwitchs.active {
    background-color: #f0f8ff;
    color: #101720;
    border-radius: 13px;
    transition: color 0.5s ease;
}

.mainSection {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
    width: 90%;
    margin-top: 50px;
}

.social a {
    font-weight: bold;
    font-size: 1.7em;
    padding-left: 5px;
    padding-right: 5px;
}

hr {
    width: 95%;
    /* margin-left: 20px;
    margin-right: 20px; */
}

footer {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

#webEnd {
    display: inline;
    text-align: center;
}